@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* navbar */
.navbar {
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: #e9e6e0;
  justify-content: space-between;
  padding: 0 0px;
}



.nav-menu {
  display: flex;

  align-items: center;
  gap: 40px;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover:hover {
  color: #1E88E5;
  font-weight: bold;
}

.nav-item:last-child {
  margin-right: 20px;
}


.activeitem {


  color: #1E88E5;



}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width:980px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #C7C6C5;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}


/* HelpMates*/
.foto-grande {
  width: 100%;
  height: auto;

}

.container {
  display: flex;
  justify-content: center;
  margin-top: -80px;
}



.box-1 {
  width: 417px;
  height: 250px;
  background-color: #5E88BC;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;

}

.box-2 {
  width: 379px;
  height: 250px;
  background-color: #9EB2C4;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.box-3 {
  width: 316px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}



.título-caixa {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
}

.texto-caixa {
  font-size: 1.4 rem;
  margin-left: 1rem;
  margin-right: 2rem;
  text-align: justify;
  color: black;
  font-weight: 400;
  padding-top: 30px;

}

.botao-caixa {
  background-color: #fff;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bold;


}

@media only screen and (max-width: 990px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
  }

  .box-1 {
    width: 100%;
    height: 250px;
  }

  .box-2 {
    width: 100%;
    height: 250px;
  }

  .box-3 {
    width: 100%;
    height: 250px;
  }

  .título-caixa {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: black;
    text-align: center;
  }

  .texto-caixa {
    font-size: 1.2rem;
    margin: 0 1rem;
    text-align: justify;
    color: black;
    font-weight: 400;
    padding-top: 30px;
    text-align: center;
  }

  .botao-caixa {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
  }
}


.botao-inicio:hover {
  text-decoration: underline;
}

.foto-lado {
  float: left;
  width: 50%;
  margin-top: 100px;
  margin-right: 80px;
}

.titulo-apresentação {
  margin-top: 100px;
  margin-right: 40px;
  font-weight: bold;
  font-size: 50px;
  color: black;

}

.apresentação {
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;

}

.container-stats {
  display: flex;
  margin-top: 40px;

}

.box-stats-1 {
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 0px;
  width: 180px;
  height: 105px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

.box-stats-2 {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  text-align: center;
  margin-right: 40px;
  width: 220px;
  height: 105px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.titulo-box-stats {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1E88E5;

}

.texto-box-stats {
  font-size: 17px;

}

@media only screen and (max-width: 1400px) {
  .foto-lado {
    float: none;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }

  .titulo-apresentação {
    margin-top: 40px;
    margin-right: 0;
    font-size: 40px;
    text-align: center;
  }

  .apresentação {
    margin-right: 0;
    font-size: 18px;
  }


}




.linha {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 100px;
}


.grelha {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  margin-bottom: 10%;
}



.card-text {
  text-align: justify;
}

.card-body {
  height: 200px;
}

.posts {
  margin-top: 180px;
  margin-bottom: -70px;
}

#c {
  height: 500px;
}

#desc {
  text-align: justify;
}





@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }

  .img-carrousel {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }



}


.botao-multi {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 6px 12px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 25px;



}

.Marta-linda-perfeita {
  font-weight: bold;
  color: pink;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 200px;
}

*,
*::before,
*after {
  box-sizing: border-box;
}



main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9b9b9b;
  line-height: 3.8;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;

}

/* Footer */

footer {
  margin-top: 200px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #000000;
  background-color: #f6f4f4;

}



.footer>* {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;

}

.footer-left img {
  width: 65%;
}

h2 {
  font-weight: 600;
  font-size: 17px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;

}

.footer-right>* {
  flex: 1 30%;
  margin-right: 1.25em;
}

.box a {
  color: #000000;

}

.footer-bottom {
  text-align: center;
  color: #000000;
  padding-top: 50px;
}

.footer-left p {
  padding-right: 20%;
  color: #000000;
}



@media screen and (min-width: 600px) {
  .footer-right>* {
    flex: 1;
  }

  .footer-left {
    flex: 1 0px;
  }

  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }

  main {
    font-size: 55px;
  }



}

/* Login */



* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  color: #1A202C;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.link {
  color: #0603ac;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.login-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.login-wrapper .box-col {
  width: 50%;
  height: 100%;
  position: relative;
}

.login-wrapper .box-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-wrapper .box-form {
  padding: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.login-wrapper .inner {
  max-width: 350px;
  margin: auto;
}

.form-head .title {
  font-size: 28px;
  font-weight: bold;
  color: #1A202C;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group .label-text {
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group .form-control {
  width: 100%;
  height: 50px;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #1E88E5;
}

.form-group .form-control:focus {
  border-bottom: 2px solid #1E88E5;
}

.form-button {
  display: flex;
  justify-content: space-between;
}

.check-action {
  position: relative;
}

.check-action .check {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

.check-action .name {
  display: inline-block;
}

.check-action .name::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: "";
  vertical-align: middle;
  border: 1px solid #909194;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
  background-color: #fff;
}

.check-action .check:checked+.name::before {
  color: #1E88E5;
  content: "\25CF";
  border-color: #1E88E5;
}

.actions {
  margin-top: 20px;
}

.actions .btn {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  border: 0px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
}

.actions .btn-submit {
  background-color: #1E88E5;
  color: #fff;
  cursor: pointer;
}

.actions .btn-submit:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: .5s all ease;
}


.form-bottom {
  display: flex;
  justify-content: space-between;
}

.bottom-register {
  bottom: 20px;

  right: 0px;
  left: 0;
  text-align: center;
}

#login-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  height: auto;
}

/* responsiveness */

@media(max-width:960px) {
  .login-wrapper .box-image {
    display: none;
  }

  .login-wrapper .box-col {
    width: 100%;
  }
}

@media(max-width:530px) {
  .login-wrapper {
    padding: 20px;

  }

  .login-wrapper .box-form {
    height: auto;
  }

  .bottom-register {

    margin-top: 300px;

  }

  #login-logo {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 150px;
    height: auto;
  }

}


.no-scroll {
  overflow: hidden;
}



li {
  list-style: none;
}






/* Oportunidades */

.frase-inicial {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #555;
}

.quote {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

.frase-inicial mb-4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.posts {
  margin-bottom: 20px;
}

.container-opo {
  max-width: 600px;
}

.btn-card {
  right: 2rem;
  bottom: 1rem;
  align-items: center;
}

.btn-location {
  float: right;
}

.card_row {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  padding: 20px;

}

.card-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-descricao {
  font-family: Times, Times New Roman, serif;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .card-descricao {
    font-size: smaller;
  }

  .btn-card {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .card-descricao {
    display: none;
  }

  .btn-card {
    float: right;
  }
}

/*.card-desc{
  text-align: center; /* Centraliza horizontalmente o texto */
/*align-items: center; /* Centraliza verticalmente o texto */
/* max-height: 100px; */

/* Sobre Nos */


.equipe-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linha1,
.linha2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.membro-equipe {
  margin: 10px;
  text-align: center;
}

.foto-pequena {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nome-funcao {
  margin-top: 5px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.t3 {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}

.col-3 img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.col-3 h4 {
  margin-bottom: 10px;
}

.col-3 p {
  margin-bottom: 30px;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.text-overlay .text-center {
  color: white;
  font-size: 10vw;
  /* Tamanho da fonte em relação à largura da viewport */
  font-weight: bold;
}

@media (max-width: 768px) {

  /* Estilos para telas menores que 768px */
  .text-overlay .text-center {
    font-size: 14vw;
    /* Ajuste o tamanho da fonte para telas menores */
  }
}


.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.text-overlay .text-center {
  color: white;
  font-size: 10vw;
  /* Tamanho da fonte em relação à largura da viewport */
  font-weight: bold;
}

@media (max-width: 768px) {

  /* Estilos para telas menores que 768px */
  .text-overlay .text-center {
    font-size: 14vw;
    /* Ajuste o tamanho da fonte para telas menores */
  }
}

/*Projeto*/
.titulo-projeto {
  color: #1A8FE3;
  font-size: 30px;
  margin-top: 120px;

}


.header-projeto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 130px;
  font-weight: bold;
}


.titulo-texto-projeto {
  margin-top: 100px;
  font-weight: bold;
  font-size: 50px;
  color: black;
  text-align: center;

}

.apresentação-texto-projeto {
  margin-top: 20;
  font-size: 23px;
  text-align: center;

}


.image-wrapper {
  float: left;
  margin-right: 20px;
}

.text-wrapper {
  overflow: hidden;
  margin-top: 50px;
}

.icon-orange {
  color: orange;
}

.slider-titulo {
  color: rgba(26, 143, 227, 1);
  font-size: 32px;
}

.blue-text {
  color: #1A8FE3;
}

.slider-text-space {
  margin-top: 20px;
}

.image {
  width: 102;
  height: 102;
}

.text {
  text-align: center;
}

.map-container {
  position: relative;
  width: 600px;
  height: 400px;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.circle-info {
  position: absolute;
  top: 60px;
  left: 0;
  width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  display: none;
}


.hide {
  background-color: #00d8ff;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid black;
  font-size: 12px;
}

.cls-1 {
  fill: #00d8ff;
  stroke: #000;
  stroke-width: 1px;
}

.kenya-txt {
  top: 740%;
  left: 47%;
}

.brazil-txt {
  top: 748%;
  left: 25%;
}


.portugal-txt {
  top: 713%;
  left: 34%;
}

.text-container {
  display: none;
}

.contentor {
  margin-top: 50px;
}

.container-parceiros {
  margin-bottom: 8px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.linha{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*circle:hover {
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}*/

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #00FF00;
  color: #111;
  font-size: 150%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

/*Doações*/

.linhaDoadores {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 100px;
}



.owl-carousel .itemDoador {
  width: 300px;
  /* Defina a largura desejada para os itens do carrossel */
}

.card-titleDoadores {
  text-align: center;
  /* Centraliza horizontalmente o texto */
  align-items: center;
  /* Centraliza verticalmente o texto */
  height: 100%;
  /* Garante que o elemento ocupe toda a altura disponível */
}

.card-textDoadores {
  text-align: center;
  /* Centraliza horizontalmente o texto */
  align-items: center;
  /* Centraliza verticalmente o texto */
  height: 100%;
  /* Garante que o elemento ocupe toda a altura disponível */
}

.card_row {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  padding: 20px;

}

.card-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


/*Detalhe*/

.goback {
  margin-top: 120px;
  margin-left: 30px;
  margin-bottom: 90px;
  background-color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}



/*Contactos*/
.contact-item {
  text-align: center;
}

.contact-item img {
  max-width: 20%;
  height: auto;
  position: relative;
  z-index: 1;
}


.goback:hover {

  margin-top: 120px;
  margin-left: 30px;
  margin-bottom: 90px;
  background-color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

#c {
  height: 500px;
  margin-top: 100px;
}

#desc {
  text-align: justify;
}

/*Galeria*/

.titulo-galeria {
  text-align: center;
  font-size: 30px;
  color: #1A8FE3;
  margin-top: 130px;
}

.texto-galeria {
  text-align: center;
  font-size: 18px;
  padding: 50px 50px;
}

.image-zoom {
  overflow: visible;
  width: 468px;
  height: 375px;
}

.image-zoom img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.image-zoom:hover img {
  transform: scale(1.2);
}
/*Detalhe*/

.card2 {
  border: none; /* Remover as bordas do cartão */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

/*Contactos*/

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    text-align: center;
  }
}

.contact-item {
  text-align: center;
}

.contact-item img {
  max-width: 20%;
  height: auto;
  position: relative;
  z-index: 1;
}

body {
  color: #1A202C;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* PerfilUser */

#user-data-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#user-data-container h2 {
  margin-bottom: 10px;
}

#user-data-container div {
  margin-bottom: 10px;
}

#user-data-container label {
  font-weight: bold;
}

#edit-profile-button {
  background-color: #1E88E5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#edit-profile-button:hover {
  background-color: #1E88E5;
}

/* parte do formulario de editar dados */
#edit-profile-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#edit-profile-form h1 {
  text-align: center;
}  

#edit-profile-form {
  margin-top: 200px;
}  

#edit-profile-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#edit-profile-form input[type="text"],
#edit-profile-form input[type="email"],
#edit-profile-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#edit-profile-form button[type="submit"] {
  background-color: #1E88E5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#edit-profile-form button[type="submit"]:hover {
  background-color:#1E88E5;
}

#edit-profile-form .error {
  color: red;
  margin-top: 5px;
}

#edit-profile-form .success {
  color: green;
  margin-top: 5px;
}

#user-marcacao{
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}


#user-marcacao h2 {
  margin-bottom: 10px;
}

#user-marcacao div {
  margin-bottom: 10px;
}

#user-marcacao label {
  font-weight: bold;
}
